*{
    margin: 0px;
    padding: 0px;
}

#hero{
    background-color: antiquewhite;
}

section{
    padding: 40px;
    margin-bottom: 20px;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
    max-width: 60%;
}

h2{
    margin: auto;
    text-align: center;
    font-size: 35px;
    padding: 18px;
}

h3{
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding: 25px;
}

h6{
    font-size: 18px;
    margin-left: 15%;
    display: block;
    width: fit-content;
    padding: 12px;
}

h6 + ul{
    margin: auto;
    display: block;
    align-content: center;
    width: 30%;
}

p{
    font-size: 18px;
    font-style: oblique;
    padding-bottom: 20px;
}

img{
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px 0px;
}

iframe{
    margin: auto;
    display: block;
    padding: 25px;
    width: 80%;
}
#navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    padding: 30px;
    font-size: 25px;
    justify-content: space-evenly;
}

#navbar > a{
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 12px ;
}

#navbar > a:hover{
    border-bottom: 12px solid black;
    margin-bottom: 0px;
}

#content{
    max-width: 1000px;
    border: 1px solid black;
    margin: auto;
}

#hero{
    background-color: rgb(135, 247, 247);
}

#hero > h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
    max-width: 60%;
}

#hero > h1 > small{
    font-size: 13px;
    font-style: oblique;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

#hero > img{
    padding: 20px 0px;
    width: 100%;
}

#affect{
    background-color: rgb(253, 220, 252);
}
#affect > h1 > small{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
}

#affect > img{
    width: 80%;
}
#info{
    display: block;
    width: fit-content;
    background-color: rgb(197, 197, 236);
}

#info > ul{
    list-style: none;
}

#info > ul > li{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20%;
    margin-bottom: 10px;
}

#info > ul > li:nth-child(1){
    background-color: rgb(140, 249, 192);
}

#info > ul > li:nth-child(2){
    background-color: rgb(232, 167, 230);
}

#info > ul > li:nth-child(3){
    background-color: rgb(241, 154, 154);
}

#info > ul > li:nth-child(4){
    background-color: rgb(140, 225, 249);
}

#info > ul > li:nth-child(5){
    background-color: rgb(226, 249, 124);
}

#info > ul > li:nth-child(6){
    background-color: rgb(202, 236, 255);
}
#conclusion{
    background-color: rgb(251, 251, 118);
    margin-bottom: 0px;
}

#about-me > p{
    width: 40%;
    display: block;
    padding: 80px;
    border-radius: 50%;
    margin: auto;
    height: fit-content;
    background-color: rgb(167, 214, 255);
}

#News-feed{
    margin: auto;
    margin-top: 25px;
    background-color: black;
    color: aliceblue;
    padding: 50px;
    max-width: 900px;
}
#News-feed > img{
    width: 100%;
}

#News-feed > h1{
    font-family: 'Raleway', sans-serif;
    color: yellow;
    font-size: 50px;
    padding: 10px;
}

#links{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#links > a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

#News-feed > ul{
    margin-left: 25px;
}

#News-feed > input{
    width: 90%;
    height: 20px;
    background-color: inherit;
}

#news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news > a{
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: gray;
    margin: 10px;
    width: 400px;
}

#news > a > img{
    width: 380px;
}

.bottom-text{
    bottom: 2000px;
}
footer{
    padding: 3px;
    display: block;
    margin: auto;
}
